/* Navigation Bar */

#brand {
}
#contact {
    margin-right:0;
    line-height: 80px;
}


#logo {
}

#nav {
}

#nav_form_div {
}

#searchDish {
}

.navButton {
    font-size: 17px;
}

#nav .login {
}

#nav .my_acc {
}